@import '../App/App.css';

/* Projects */

#project-header {
    text-align: center;
    background-color:lightblue;
    box-shadow: var(--card-box-shadow);
}

.tech-stack-logo-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}

.tech-stack-logo {
    width:30%;
}



.project-description {
    padding: 1rem;
    border: var(--card-box-border);
    background-color: var(--card-text-background-color);
    border-radius: var(--card-box-border-radius);
    margin: var(--card-margin)
}

.project-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    border: 1px solid green;
    padding: 1em;
    box-shadow: var(--card-box-shadow);
}


.project-links {
    border: 1px solid red;
}





