@import '../App/App.css';

/* Projects */

#project-header {
    text-align: center;
    background-color:lightblue;
    box-shadow: var(--card-box-shadow);
}

.tech-stack-logo-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
}

.tech-stack-logo {
    width:30%;
}



.project-description {
    padding: 1rem;
    border: 1px solid red;
    background-color: var(--card-text-background-color);
}

.project-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    border: 1px solid green;
    padding: 1em;
    box-shadow: var(--card-box-shadow);
}


.project-links {
    border: 1px solid red;
}


/* Student Group Generator Project */

#student-group-generator-container {
    margin-bottom: 1em;
}


/* Haunted Mansion Project*/
#haunted-mansion-image-container{
    display:flex;
    align-items: center;
    justify-content: center;
}

 #haunted-mansion-image {
    width:90%;
    max-width:35rem;
} 

#haunted-mansion-layout-image {
    width: 100%;
}

#haunted-mansion-video {
    width: 100%;
}

#haunted-mansion-mermaid-chart{
    width: 90%;
}
