/* Haunted Mansion Project*/
#haunted-mansion-header {
    display:flex;
    justify-content: space-around;
}
#haunted-mansion-project-links {
    flex-basis:10em;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.haunted-mansion-project-link {
    background:lightblue;
}

#haunted-mansion-image {
    max-width:10rem;
    padding-right: 1em;
    float: left;
} 

#haunted-mansion-layout-image {
    width: 100%;
}

#haunted-mansion-mermaid-chart{
    width: 100%;
}

#haunted-mansion-video {
    width: 100%;
    margin: 1em 0 1em 0;
}


@media screen and (max-width: 480px){
    #haunted-mansion-image-container{
        display: none;
    }
    #haunted-mansion-header {
        display:block;
    }
}