@import "../App/App.css";

#navbar-header {
  background: var(--nav-header-background-color);
  min-width: 7em;
  display: flex;
  padding-left: 1rem;
}

#navlinks {
  min-width: 13em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 1rem;
}

nav {
  background: var(--nav-header-background-color);
  border-bottom: 2px inset darkgoldenrod;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
