@import "../App/App.css";

#navbar-header {
  background: var(--nav-header-background-color);
  min-width: 7em;
  display: flex;
  padding-left: 1rem;               
  text-decoration: none;
}

#navbar-header:visited {
    color: var(--header-visited)
}

#navbar-header:hover, #navbard-header:focus {
    color:var(--header-hover-focus)
}

#navbar-header:active {
    color: var(--header-active)
}

#navlinks {
  min-width: 13em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 1rem;
}

.navlink{
  text-decoration: none;
  color: var(--link);
  transition: transform 500ms;
}

.navlink:visited{
  color: var(--link-visited);
}

.navlink:hover, .navlink:focus{
  transform: translateY(-.075rem);
  color:var(--link-hover-focus);
}

.navlink:active{
  color: var(--link-active);
}

nav {
  background: var(--nav-header-background-color);
  border-bottom: 2px inset var(--nav-border-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

@media (width < 700px){
    #navbar-header{
      font-size: .8em;
    }
    .navlink{
      font-size:.8em;
    }
}