@import '../../App/App.css';

.tabs {
    width: 100%;
    height: auto;
    /* background: var(--tab-view-background-color); */
    /* background: #053742; */
    /* margin: 3.5rem auto 1.5rem; */
    /* padding: 2rem 1rem; */
    /* color: #E8F0F2; */
    /* border-radius: 5%; */
    padding: 2rem 0;
    @media (max-width: 769px) {
    
    }
 }
    
    
   .tab-selectors {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB; 
    border-radius: 2rem;
    background: var(--tab-view-background-color);
    padding-left: 0px; 
     @media (max-width: 768px) {
      width: 90%;
    }
  }

  .tab-selectors li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    white-space:nowrap;
  }
  .tab-selectors li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    
  }
  .tab-selectors li:hover {
    background: var(--main-background-color);
  }
  .tab-selectors li.active {
    background: #39A2DB;
  }
