@import "../../App/App.css";

.tabs {
  width: 100%;
  height: auto;
  margin: 3.5rem auto 1.5rem;
}

.tab-selectors {
  margin: -1em auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--card-container-border-color);
  border-radius: 2rem;
  background: var(--tab-selectors-background-color);
  padding-left: 0px;
  box-shadow: var(--card-box-shadow)
}

.tab-selectors li {
  font-size: .8em;
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  white-space: nowrap;
}

.tab-selectors li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  border-left: 3px solid var(--card-container-border-color)

}
.tab-selectors li:hover {
  background: #fef9b3;
}
.tab-selectors li.active {
  background: #93fdb1;
}
